.env
version.env
.env.*
!.env.*.example
htpasswd
/data/*
!/data/.gitkeep

/logs

/backup/*
!/backup/.gitkeep

sql/json/
/.metadata/

Servers/

# Don't add package.json and other npm/yarn files in the root folder
/package.json
/yarn.lock
node_modules/

end-to-end-tests/results.xml

.ucdetector_reports/

*.orig

backend/src/test/resources/GdbGelderlandTest/feature.actual.json
