.env
version.env
.env.*
!.env.*.example
htpasswd
/data/*
!/data/.gitkeep

/logs

/backup/*
!/backup/.gitkeep

sql/json/
/.metadata/

Servers/

# Don't add package.json and other npm/yarn files in the root folder
/package.json
/yarn.lock
node_modules/

end-to-end-tests/results.xml

.ucdetector_reports/

*.orig

# Test files
*.actual.json
*.actual.csv
backend/src/test/resources/GdbExportFiles/temp/outputTest.gdb/
backend/src/test/resources/GdbExportFiles/temp/test.geojson
backend/src/test/resources/GdbExportFiles/temp/testLayer.csv
