.env
.env.*
!.env.*.example
htpasswd
/data/*
!/data/.gitkeep

/logs

/backup/*
!/backup/.gitkeep

sql/json/
/.metadata/

Servers/

yarn.lock

node_modules/

end-to-end-tests/results.xml

.ucdetector_reports/

*.orig
